/* container is the whole object
	mainImg is the container for the large picture

	if you want to make this larger or smaller, change the height/width on those
	two accordingly */

.container{
	border:3px solid black;
	height: 605px;
	width: 852px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	padding:10px;
}
.mainImg{
	width: 600px;
	height: 600px;
	display: flex;
	position: relative;
	flex-wrap: wrap;
	margin-bottom: 0 auto;
}
.thumbCont{
	width: 255px;
	max-height: 98%;
	overflow: auto;
	/*border: 1px solid blue;*/
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.img{
	width: 105px;
	height: 57px;
	margin:10px;
	opacity: .66;

}
.thumbnail{
	height: 57px;
	width: 105px;
	margin:10px;
	/*border:1px solid green;*/
	position: relative;
	display: flex;
}
.largeImg{
	overflow: hidden;
	max-height: 100%;
	margin:0 auto;
}
.gridImg{
	height: 200px;
	width: 200px;
	display: flex;
	position: relative;
}
