/* container is the whole object
	mainImg is the container for the large picture

	if you want to make this larger or smaller, change the height/width on those
	two accordingly */

.container{
	border:3px solid black;
	height: 500px;
	width: 700px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
}
.mainImg{
	width: 499px;
	height: 100%;
	display: flex;
	position: relative;
}
.thumbCont{
	width: 200px;
	max-height: 98%;
	overflow: auto;
	/*border: 1px solid blue;*/
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.img{
	max-width: 94px;
	max-height: 94px;
	margin:0 auto;
}
.thumbnail{
	height: 94px;
	width: 94px;
	margin:1px;
	/*border:1px solid green;*/
	position: relative;
	display: flex;
}
.largeImg{
	overflow: hidden;
	max-height: 100%;
	margin:0 auto;

}
